
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
              "{{ site.description }}"
          </p>
        </div>
        <div class="col l4 offset-12 s12 right">
          <h5 class="white-text">Social</h5>
          <ul>
            {% if site.facebook_username %}
            <li><a href="https://facebook.com/{{ site.facebook_username }}" class="white-text text-lighten-3 btn waves-effect waves-light teal darken-1"><i class="mdi mdi-facebook-box"></i>  Facebook</a></li>
            {% endif %}
            {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}" class="white-text text-lighten-3 btn waves-effect waves-light teal darken-1"><i class="mdi mdi-twitter-box"></i>  Twitter</a></li>
            {% endif %}
            {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}" class="white-text text-lighten-3 btn waves-effect waves-light teal darken-1"><i class="mdi mdi-github-box"></i>Github</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Build with <i class="mdi mdi-coffee-to-go"></i> Nyasuh </a>
        <a class="grey-text text-lighten-4 right waves-effect waves-green " <a href="http://nyasuh.github.io">nyasuh.github.io</a>
      </div>
    </div>
  </footer>

