<header class="site-header">

<!-- dropdown content, for small and med -->
<ul id="dropdown-mobile_nav" class="dropdown-content">
  <li><a href="{{ '/archive' | prepend: site.baseurl }}">Archive</a></li>
  <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
  <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
</ul>

<div class=""><nav>
<nav class="teal">
  <div class="nav-wrapper">
    <a href="{{ '/' | prepend: site.baseurl }}" class="brand-logo  waves-effect waves-light"><i class="mdi mdi-home white-text"> Nyasuh </i></a>
    <!--span class="site-title hide-on-med-and-down">{{ site.title }}</span-->
    
    <!-- for lagre -->
    <ul class="right hide-on-med-and-down nav-list">
      <li class="waves-effect waves-light"><a href="{{ '/archive' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-library-books left"></i>Archive</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/about' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-account left"></i>About</a></li>
      <li class="waves-effect waves-light"><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class=" white-text"><i class="mdi mdi-rss left"></i>RSS</a></li>
    </ul>

    <!-- small and med -->
    <ul class="right hide-on-large-only">
        <li><a class="dropdown-button mobile_nav" href="#!" data-activates="dropdown-mobile_nav"><i class="mdi mdi-apps"></i></a></li>
    </ul>
  </div>
</nav></div>

</header>
